/* Conteúdo principal */

.diet-app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}

.diet-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

/* Contêiner principal para os cards e a barra de metas */
.main-content {
  display: flex;
  gap: 300px;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

/* Cards de refeições */
.diet-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.diet-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #163936;
  width: 300px;
}

.diet-card h3 {
  color: #163936;
}

.diet-card ul {
  padding-left: 20px;
  list-style-type: disc;
}

.diet-card input {
  width: calc(100% - 80px);
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #163936;
  border-radius: 4px;
}

.diet-card .add-button {
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #0f6cbd;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.diet-card .add-button:hover {
  background-color: #0d5a9e;
}

/* Barra de metas */
.goal-section {
  width: 250px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.goal-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.goal-bar-progress {
  height: 100%;
  background-color: #0f6cbd;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.goal-input, .goal-meta-input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #163936;
  border-radius: 4px;
  text-align: center;
}

.goal-meta-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.goal-meta-label {
  font-weight: bold;
  color: #0a0a0a;
}
