/* src/components/Metricas/Metrics.css */
.metrics-content {
  flex: 1; /* Ocupa o restante do espaço */
  margin-left: 300px; /* Espaço entre a coluna lateral e o conteúdo */
}

.metrics-container {
  /* flex-grow: 1; */
  padding: 20px;
  background-color: #7a818c; /*#0f6cbd*/ /*#2f4f4f*/
  border-radius: 8px;
  color: #ffffff;
  width: 80%;
  margin-left: 20px; /* Reduz a largura para não encostar na coluna lateral */
  /*margin: auto; /* Centraliza dentro do espaço disponível */
}
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .metrics-cards {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .metric-card {
    background-color: #0f6cbd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
  }
  
  .metric-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .metric-card p {
    font-size: 16px;
    margin: 0;
  }
  
  .metrics-chart {
    margin-bottom: 20px;
  }
  
  .metrics-history {
    background-color: #0f6cbd;
    padding: 15px;
    border-radius: 8px;
  }
  
  .metrics-history h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .metrics-history ul {
    list-style-type: none;
    padding: 0;
  }
  
  .metrics-history li {
    font-size: 16px;
    margin: 5px 0;
  }
